.container
  .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
    .col-md-7.p-lg-7.mx-auto.my-7
      %h1.display-4.fw-normal
        Уважаемый гость
        %br
        IT Way Podcast
      %p.lead.fw-normal Ты читаешь эту инструкцию, чтобы поучаствовать в очередном выпуске подкаста IT Way.
  .row
    .col-lg-4.col-md-6
      .card
        %img.card-img-top{ src: 'https://media.giphy.com/media/3ornk57KwDXf81rjWM/giphy.gif' }
        .card-body
          %h5.card-title
            Когда записываемся?
          %p
            О времени записи подкаста мы предварительно уже договорились. Если нет, пни на эту тему того ведущего, с которым ты общаешься.


    .col-lg-4.col-md-6
      .card
        %img.card-img-top{ src: 'data:image/jpeg;base64, #THREAD_ICON' }
        .card-body
          %h5.card-title
            Треды
          %p
            это потрясающая функциональность, позволяющая в одном чате разделять обсуждение разных вопросов на логические блоки. Старайся всегда использовать треды.
    .col-lg-4.col-md-6
      .card
        %img.card-img-top{ src: 'data:image/jpeg;base64, #GET_IT_ON_GOOGLE_PLAY' }
        .card-body
          %h5.card-title
            Установи мобильное приложение Rocket.Chat
          %p
            Рокетчатом удобно пользоваться на мобильных устройствах! Приложение Rocket.Chat доступно для Android и iOS. После установки введи адрес сервера https://rocket.purple-magic.com и пройди авторизацию пользователя.
          %a.btn.btn-primary{ href: 'https://play.google.com/store/apps/details?id=chat.rocket.android' }
            Android
          %a.btn.btn-primary{ href: 'https://apps.apple.com/us/app/rocket-chat/id1148741252' }
            iOS
    .col-lg-4.col-md-6
      .card
        %img.card-img-top{ src: 'data:image/jpeg;base64, #AVATAR' }
        .card-body
          %h5.card-title
            Установи свою аватарку
          %p
            А теперь зайди в настройки своего профиля, проверь всё ли тебя устраивает и ОБЯЗАТЕЛЬНО добавь свою аватарку!
          %a.btn.btn-primary{ href: 'https://rocket.purple-magic.com/account/profile' }
            Настройки профиля
