.container
  .position-relative.overflow-hidden.p-3.p-md-5.m-md-3.text-center.bg-light
    .row
      .col-md-1
        %img{ style: 'width: 200px', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/podkast-little-size.jpg' }
      .col-md-7.p-lg-7.mx-auto.my-7
        %h1.display-4.fw-normal
          Уважаемый гость
          %br
          IT Way Podcast
        %p.lead.fw-normal Ты читаешь эту инструкцию, чтобы поучаствовать в очередном выпуске подкаста IT Way.
  .row
    .col-lg-4.col-md-6
      .card
        %img.card-img-top{ src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/WAIT.png' }
        .card-body
          %h5.card-title
            Когда записываемся?
          %p
            О времени записи подкаста мы предварительно уже договорились. Если нет, пни на эту тему того ведущего, с которым ты общаешься.


    .col-lg-4.col-md-6
      .card
        %img.card-img-top{ src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/kobot.png' }
        .card-body
          %h5.card-title
            Подкаст IT Way записывается онлайн.
          %p
            Поэтому важно иметь хороший доступ в интернет. Представь, что готовишься к стриму в Youtube.
    .col-lg-4.col-md-12
      .card
        %img.card-img-top{ src: 'data:image/jpeg;base64, #RED_MAGIC_LOGO' }
        .card-body
          %h5.card-title
            RED MAGIC создал платформу для онлайн-записи
          %p
            Ты можешь записывать свой подкаст в онлайне с автоматическим монтажом и публикацией, как это делает IT Way Podcast и ещё несколько других интересных проектов. Главное для подкаста - это регулярность. С помощью платформы от RED MAGIC можно обеспечить эту регулярность.
          %a.btn.btn-primary{ href: 'https://t.me/kalashnikovisme' }
            Связаться с RED MAGIC
  %hr
  .row.mb-4
    %h2.mb-4
      Для участия в записи нужно
    .col
      .list-group
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/veselo.png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 Компьютер подключенный к интернету 
              %p.mb-1 Интернет должен быть достаточно стабильный для онлайн-звонков.
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/47fb1fc0-ed07-4f76-a5fd-37dcdf53caea_5d09944c-81fd-49b7-b696-583c75b4004f_logo.jpg' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 Микрофон
              %p.mb-1 В идеале студийный вещательный, но как показывает практика, запись с петличек и гарнитур, подключённых к компьютеру делает достаточное качество записи. Постарайся использовать лучший микрофон, что есть в твоём доступе.
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/podkast-little-size.jpg' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 Наушники
              %p.mb-1 ОБЯЗАТЕЛЬНО!
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/topooooor.png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 Тихое помещение
              %p.mb-1 Слушателям сложно воспринимать речь, когда присутствуют дополнительные шумы и разговоры. Минимальное требование: ты должен быть единственным говорящим человеком в комнате, в которой записываешься. В идеале это должна быть студия звукозаписи или комната, обвешанная коврами.
        %a.list-group-item.list-group-item-action{ href: 'https://www.mumble.com/mumble-download.php', target: '_blank' }
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/1200px-Icons_mumble.svg.png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 ЗАРАНЕЕ установленное приложение Mumble
              %p.mb-1
                Это бесплатное приложение. Если возникнут проблемы с установкой, обращайся к пригласившему тебя ведущему. Данные для подключения к серверу тебе скинет пригласивший ведущий за 10 минут до записи. Там всё просто. Нажмите, чтобы скачать.
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/1200px-Icons_mumble.svg.png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 В настройках клиента Mumble нужно сделать две установки
              %p.mb-1
                %ul
                  %li
                    Режим передачи перевести в Постоянный (Continuous). Настройки -> Ввод (Audio Input) -> Режим передачи (Transmit) -> выбрать Постоянный (Continious).
                  %li
                    Отметить галочкой Передача по TCP (Force TCP). Настройки -> Сеть (Network) -> возможно поставить галочку Расширенные настройки (Advanced), эта галочка находится внизу -> отметить  Передача по TCP (Force TCP).
                  %li
                    Убрать озвучивание действий в приложении. Настройки (Configure) -> Текст в речь (Text-to-speech) - убрать галочку, если она поставлена
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/bot_leopold.png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 Наш подкаст МОНТИРУЕТСЯ АВТОМАТИЧЕСКИ
              %p.mb-1
                Наше приложение на сервере автоматически монтирует подкаст, собирает хайлайты и генерирует все видео и трейлеры. Влезать в этот процесс очень сложно, поэтому просим тебя сразу держать в голове, что ничего того, что ты не хотелось бы оставлять в записи, говорить не надо. Представь, что ты в прямом эфире.
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/%D0%91%D0%B0%D0%B6%D0%B5%D0%BD%D0%BE%D0%B2%D0%B0_%20(1).png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 Какие темы и вопросы будут обсуждаться в рамках записи?
              %p.mb-1
                Скорее всего ведущий, который тебя позвал, уже обсудил это с тобой, возможно, вы уже составили список вопросов на обсуждение, а возможно просто договорились однострочно о какой-то теме. Если вопросов прописанных заранее нет, ничего страшного, это не собеседование, а у ведущих нет задачи завалить тебя. Наша совместная задача дать максимум полезного контента для слушателей, а в твоей компетенции никто не сомневается, раз ты уже находишься на этой странице :)
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/%D0%9C%D1%83%D1%81%D0%B8%D0%BD%D0%B0_%20(2).png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 Troubleshooting 
              %p.mb-1
                %ul
                  %li
                    Если во время записи подкаста ты перестал слышать ведущих, не беспокойся. Это значит, что либо у тебя, либо у других ведущих происходят проблемы с интернетом. В такие моменты стоит подождать 10 секунд в состоянии Mute, и если ничего не поменяется, просто переподключиться к серверу. Наш пайплайн удалит пустые места, поэтому этого молчания никто не заметит в итоговой записи.
                  %li
                    Если ты слышишь небольшие пропадания в звуке, которые происходят эпизодически, ничего страшного. Конечный файл записи у нас создаётся на сервере, и как показывает практика, сервер слышит хорошо всех. И конечная запись не страдает.
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/begu.png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 А ТЕПЕРЬ
              %p.mb-1
                %ul
                  %li
                    Скинь ведущему, который тебя позвал ссылки на все социальные сети, в которых ты хочешь, чтобы тебя упомянули. Наш сервер автоматически делает посты в соц.сети, он тебя отметит везде.
                  %li
                    Скинь ведущему фотографию, которую ты хочешь, чтобы использовали для видео на Youtube и в видео-трейлерах.
        %a.list-group-item.list-group-item-action
          .row
            .col-md-1
              %img{ style: 'width: 100%', src: 'https://raw.githubusercontent.com/Purple-Magic/purple-magic/main/podcast_how_to/good2.png' }
            .col
              .d-flex.w-80.justify-content-between
                %h5.mb-1 И САМОЕ ГЛАВНОЕ
              %p.mb-1
                ОБЯЗАТЕЛЬНО НУЖНО С СОБОЙ ВЗЯТЬ хорошее настроение. Нельзя писать подкасты с плохим настроением.
